:root {
  /* colors variable */
  --text-blue: #006fb9;
  --white: #ffffff;
  --black: #000000;
  --block-bgcolor: #d3e3f3;
  --btn-border: #ff8f0e;
  --card-bg: #eeeeee;
  --sub-cardbg: #dee8f2;
  --help-support:#01509E;
/* font family variable */
  --SemiBold: "Poppins-SemiBold", poppins;
  --Regular: "Poppins-Regular", poppins;
  --Bold: "Poppins-Bold", poppins;
  --ExtraBold: "Poppins-ExtraBold", poppins;
  --Medium: "Poppins-Medium", poppins;
  --Italic: "Poppins-Italic", poppins;
}
